<!DOCTYPE html>
<html>
<head>
  <title>Order students by age</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
<ul>
    <% @students_age.each do |student| %>
      <li><%= student['name'] %>, <%= student['age'] %></li>
    <% end %>
  </ul>
</body>
</html>